.respostas-container {
  font-family: "poppins", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 10% 0 3%;

  h1 {
    font-size: 2em;
    font-weight: bold;
    letter-spacing: -1px;
  }

  .subtema {
    border: 1px solid rgb(167, 167, 167);
    border-radius: 4px;
    padding: 15px;
    width: 100%;

    .subtema-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      h2 {
        font-size: 1.2em;
        margin: 0;
        letter-spacing: -0.5px;
        font-weight: 600;
      }

      span {
        font-size: 1.2em;
      }
    }

    .subtema-content {
      margin-top: 10px;
      padding-left: 10px;

      p {
        margin: 5px 0;
        font-size: 1em;
        color: rgb(90, 90, 90);
      }
    }
  }

  .lista-de-revisao {
    border: 1px solid rgb(167, 167, 167);
    border-radius: 8px;
    padding: 15px;
    background-color: #fafafa;
    width: 100%;

    p {
      margin: 5px 0;
      font-size: 1em;
      font-weight: 500;
      color: rgb(0, 0, 0);
    }
  }
}
